.btn-lg {
  margin: auto 45%;
  margin-top: 30px;
}

.btn-lg:hover{
  box-shadow: 0px 3px 10px #ff00e9;
}

.bg-primary{
  color: white;
}

div.form-control {
  border: 0px;
}

.card {
  margin-top: 100px;
  padding: 20px;
}

.card-img-bottom{
  max-width: 300px;
  margin-left: 35%;
  margin-bottom: 10%;
}

.card-img-bottom:hover {
  box-shadow: 0px 5px 20px #ffed6b;
}

.card-footer {
  text-align: center;
}

#intro, #second-card, #rest-of-survey, #front-track, #if-yes, #if-no, .results {
  display: none;
}
